<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>timeList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>182F4CB41DACEAF60021AD67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>182F4CC81DACEAF70021AD67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>182F4CD31DACEAF70021AD67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
